/**
 * Oxsar http://oxsar.ru
 *
 * 
 */

.ntable td, .atable td
{
    background-color: transparent;
    background-image:url("../../images/table_std_bg_80.png");
}

.ntable th, .atable th
{
    background-color: transparent;
    background-image:url("../../images/table_sth_bg_80.png");
}

#leftMenu li a, #leftMenu li a:hover
{
    background-color: transparent;
    background-image:url("../../images/menu_std_bg_80.png");
}
.odd td
{
    background-image: url("../../images/table_std_bg_odd_80.png");
}